<md-content style="background: none;" class="md-padding" layout-xs="column" layout="row">

    <div flex-xs flex-gt-sm="33" layout="column">

        <md-card class="md-whiteframe-9dp" ng-if="$index % 3 === 0" ng-repeat="listing in listings">

            <img ng-src="{{listing.image}}" class="md-card-image">

            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{listing.title}}</span>
                    <span ng-if="listing.rental === 0" class="md-subhead"><i class="fa fa-usd" aria-hidden="true"></i> For sale</span>
                    <span ng-if="listing.rental === 1" class="md-subhead"><i class="fa fa-home" aria-hidden="true"></i> For rent</span>

                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <p ng-if="listing.description.length <= 200">{{listing.description}}</p>
                <p ng-if="listing.description.length > 200">{{listing.description |limitTo: 197}}...</p>
                <p><b>Price</b>: {{ listing.price }} $</p>
                <p><b>Address:</b> {{ listing.address }}</p>
                <p><b>Seller:</b> {{ listing.user.name }}</p>
            </md-card-content>

            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="moreDetails(listing.id)">More details</md-button>
                <md-button aria-label="Remove bookmark" ng-click="removeBookmark(listing, $index)"><i class="fa fa-heart"></i></md-button>
            </md-card-actions>
        </md-card>

    </div>

    <div flex-xs flex-gt-sm="33" layout="column">

        <md-card class="md-whiteframe-9dp" ng-if="$index % 3 === 1" ng-repeat="listing in listings">

            <img ng-src="{{listing.image}}" class="md-card-image">

            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{listing.title}}</span>
                    <span ng-if="listing.rental === 0" class="md-subhead"><i class="fa fa-usd" aria-hidden="true"></i> For sale</span>
                    <span ng-if="listing.rental === 1" class="md-subhead"><i class="fa fa-home" aria-hidden="true"></i> For rent</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <p ng-if="listing.description.length <= 200">{{listing.description}}</p>
                <p ng-if="listing.description.length > 200">{{listing.description |limitTo: 197}}...</p>
                <p><b>Price</b>: {{ listing.price }} $</p>
                <p><b>Address:</b> {{ listing.address }}</p>
                <p><b>Seller:</b> {{ listing.user.name }}</p>
            </md-card-content>

            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="moreDetails(listing.id)">More details</md-button>
                <md-button aria-label="Remove bookmark" ng-click="removeBookmark(listing, $index)"><i class="fa fa-heart"></i></md-button>
            </md-card-actions>
        </md-card>

    </div>

    <div flex-xs flex-gt-sm="33" layout="column">

        <md-card class="md-whiteframe-9dp" ng-if="$index % 3 === 2" ng-repeat="listing in listings">

            <img ng-src="{{listing.image}}" class="md-card-image">

            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{listing.title}}</span>
                    <span ng-if="listing.rental === 0" class="md-subhead"><i class="fa fa-usd" aria-hidden="true"></i> For sale</span>
                    <span ng-if="listing.rental === 1" class="md-subhead"><i class="fa fa-home" aria-hidden="true"></i> For rent</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <p ng-if="listing.description.length <= 200">{{listing.description}}</p>
                <p ng-if="listing.description.length > 200">{{listing.description |limitTo: 197}}...</p>
                <p><b>Price</b>: {{ listing.price }} $</p>
                <p><b>Address:</b> {{ listing.address }}</p>
                <p><b>Seller:</b> {{ listing.user.name }}</p>
            </md-card-content>

            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="moreDetails(listing.id)">More details</md-button>
                <md-button aria-label="Remove bookmark" ng-click="removeBookmark(listing, $index)"><i class="fa fa-heart"></i></md-button>
            </md-card-actions>
        </md-card>

    </div>

</md-content>

<md-content ng-if="noData" style="background: none;" class="md-padding" layout-xs="column" layout="row">
    <h3> No data found </h3>
</md-content>