<md-toolbar>
    <img class="logo-image nofocus" src="images/logo10.svg" ng-click="closeSidenav()">
</md-toolbar>
<md-content class="sidenav-content">
    <md-list no-padding>
        <md-list-item ng-click="closeSidenav()" ng-class="main.getLocation() === '/map' ? 'menu-active' : ' '" ng-href="#!/map">
            Find the perfect place
        </md-list-item>
        <md-list-item ng-click="closeSidenav($event)" ng-class="main.getLocation() === '/listings' ? 'menu-active' : ' '" ng-href="#!/listings">
            Browse Listings
        </md-list-item>
        <md-list-item ng-if="isAuthenticated()" ng-click="closeSidenav()" ng-class="main.getLocation() === '/my-listings' ? 'menu-active' : ' '"
            ng-href="#!/my-listings">
            My listings
        </md-list-item>
        <md-list-item ng-if="isAuthenticated()" ng-click="closeSidenav()" ng-class="main.getLocation() === '/bookmarks' ? 'menu-active' : ' '"
            ng-href="#!/bookmarks">
            Bookmarks
        </md-list-item>
        <md-list-item ng-if="isAuthenticated()" ng-click="closeSidenav()" ng-class="main.getLocation() === '/account' ? 'menu-active' : ' '"
            ng-href="#!/account">
            Account
        </md-list-item>
        <md-list-item ng-click="closeSidenav()" ng-class="main.getLocation() === '/contact' ? 'menu-active' : ' '" ng-href="#!/contact">
            Contact
        </md-list-item>
        <md-list-item ng-if="isAuthenticated()" ng-click="closeSidenav()">
            Logout
        </md-list-item>
        <md-list-item ng-if="!isAuthenticated()" ng-click="openLogin()">
            Login
        </md-list-item>
    </md-list>


</md-content>