<md-content class="add-listing">
    <md-button class="md-fab" aria-label="Add listing" ng-click="addListing($event)">
        <i class="fa fa-home"></i>
    </md-button>
</md-content>

<md-content infinite-scroll="loadMore()" infinite-scroll-distance="0" infinite-scroll-parent="true" style="background: none;"
    class="md-padding" layout-xs="column" layout="row">

    <div flex-xs flex-gt-sm="33" layout="column">

        <md-card class="md-whiteframe-9dp" ng-if="$index % 3 === 0" ng-repeat="listing in listings">

            <img ng-src="{{listing.image}}" class="md-card-image">

            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{listing.title}}</span>
                    <span ng-if="listing.rental === 0" class="md-subhead"><i class="fa fa-usd" aria-hidden="true"></i> For sale</span>
                    <span ng-if="listing.rental === 1" class="md-subhead"><i class="fa fa-home" aria-hidden="true"></i> For rent</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <p ng-if="listing.description.length <= 200">{{listing.description}}</p>
                <p ng-if="listing.description.length > 200">{{listing.description |limitTo: 197}}...</p>
            </md-card-content>

            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="moreDetails(listing.id)">More details</md-button>
            </md-card-actions>
        </md-card>

    </div>

    <div flex-xs flex-gt-sm="33" layout="column">

        <md-card class="md-whiteframe-9dp" ng-if="$index % 3 === 1" ng-repeat="listing in listings">

            <img ng-src="{{listing.image}}" class="md-card-image">

            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{listing.title}}</span>
                    <span ng-if="listing.rental === 0" class="md-subhead"><i class="fa fa-usd" aria-hidden="true"></i> For sale</span>
                    <span ng-if="listing.rental === 1" class="md-subhead"><i class="fa fa-home" aria-hidden="true"></i> For rent</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <p ng-if="listing.description.length <= 200">{{listing.description}}</p>
                <p ng-if="listing.description.length > 200">{{listing.description |limitTo: 197}}...</p>
            </md-card-content>

            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="moreDetails(listing.id)">More details</md-button>
            </md-card-actions>
        </md-card>

    </div>

    <div flex-xs flex-gt-sm="33" layout="column">

        <md-card class="md-whiteframe-9dp" ng-if="$index % 3 === 2" ng-repeat="listing in listings">

            <img ng-src="{{listing.image}}" class="md-card-image">

            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{listing.title}}</span>
                    <span ng-if="listing.rental === 0" class="md-subhead"><i class="fa fa-usd" aria-hidden="true"></i> For sale</span>
                    <span ng-if="listing.rental === 1" class="md-subhead"><i class="fa fa-home" aria-hidden="true"></i> For rent</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <p ng-if="listing.description.length <= 200">{{listing.description}}</p>
                <p ng-if="listing.description.length > 200">{{listing.description |limitTo: 197}}...</p>
            </md-card-content>

            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="moreDetails(listing.id)">More details</md-button>
            </md-card-actions>
        </md-card>

    </div>

</md-content>
<div ng-if="loading" layout="row" layout-align="space-around">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>