<md-content class="md-whiteframe-4dp login-container" layout-padding>

    <img style="width:100%;" src="images/pp-logo-large.png" alt="">

    <div layout-xs="column" layout layout-align="center">
        <p>We promise to keep your personal information private.</p>
    </div>

    <div layout-xs="column" layout layout-align="center">
        <md-button class="md-raised md-primary login-button" ng-click="authenticate('facebook')">
            <i class="fa fa-facebook-official" aria-label="hidden"></i> Login with facebook</md-button>
        <div>

</md-content>