<md-content class="md-whiteframe-5dp" style="max-width: 900px; margin-left:auto; margin-right:auto;" layout-padding>

    <img style="width:100%;" src="images/pp-logo-large.png" alt="">
    <div layout="column" layout-padding>
        <h4>
            Welcome to Perfect Place! Our application offers all the tools you need to find a place to stay. Don't worry, you'll love
            it.
        </h4>
        <h4>
            Information easy to visualize and reach is here for you. Make the map your new best friend. Select what matters to you the
            most.
        </h4>
        <h4>
            If you encounter any kind of problems, we are here for you.


        </h4>
        <h4> 
            Please contact us at:
            <br><br>
            <i class="fa fa-phone" aria-hidden="true"></i> 000 123 444
            <br>
            <i class="fa fa-envelope" aria-hidden="true"></i> admin@perfectplace.com

        </h4>
    </div>



</md-content>