<div class="main-map-container" map-lazy-load="https://maps.googleapis.com/maps/api/js?key=AIzaSyAx7V5B7aad4DJJArvDoZfG5i7AEmyle1w">
    <ng-map class="main-map" center="[51.5091615,-0.1194603]">
        <md-button class="md-fab map-fab" aria-label="Filter map" ng-click="openFilters()">
            <i class="fa fa-sliders"></i>
        </md-button>
    </ng-map>


    <md-sidenav ng-if="main.getLocation() !== '/login'" class="md-sidenav-right map-filter-sidenav" md-component-id="right" md-whiteframe="4">

        <md-content layout-padding ng-controller="FilterCtrl">
            <md-list>
                <md-list-item>
                    <md-switch ng-model="filters.traffic" aria-label="Traffic Filter" ng-change="setFilter('traffic', filters.traffic)"><i class="fa fa-car" aria-hidden="true"></i> Traffic</md-switch>
                </md-list-item>
                <md-list-item>
                    <md-switch ng-model="filters.transit" aria-label="Transit Filter" ng-change="setFilter('transit', filters.transit)"> Transit</md-switch>
                </md-list-item>
                <md-list-item>
                    <md-switch ng-model="filters.bicycle" aria-label="Bicycle Filter" ng-change="setFilter('bike', filters.bicycle)"> Bicycle</md-switch>
                </md-list-item>
                <md-list-item>
                    <md-switch ng-model="filters.pollution" aria-label="Pollution Filter" ng-change="setFilter('pollution', filters.polution)"> Pollution</md-switch>
                </md-list-item>
                <md-list-item>
                    <md-switch ng-model="filters.noise" aria-label="Noise Filter" ng-change="setFilter('noise', filters.noise)"> Noise Pollution</md-switch>
                </md-list-item>
                <md-list-item>
                    <md-switch ng-model="filters.smog" aria-label="Smog Filter" ng-change="setFilter('smog', filters.smog)"> Smog</md-switch>
                </md-list-item>
                <md-list-item>
                    <md-switch ng-model="filters.crime" aria-label="Crime Filter" ng-change="setFilter('crime', filters.crime)"> Crime</md-switch>
                </md-list-item>
                <md-list-item>
                    <md-switch ng-model="filters.estate" aria-label="Estate Value Filter" ng-change="setFilter('estate', filters.estate)"> Estate Value</md-switch>
                </md-list-item>
                <md-list-item>
                    <md-switch ng-model="filters.temperature" aria-label="Temperature Filter" ng-change="setFilter('temperature', filters.temperature)"> Temperature</md-switch>
                </md-list-item>
                <md-list-item>
                    <md-switch ng-model="filters.living" aria-label="Living Cost Filter" ng-change="setFilter('living', filters.Living)"> Living</md-switch>
                </md-list-item>
            </md-list>


        </md-content>

    </md-sidenav>
</div>