<md-content style="position: absolute; bottom:15px; right: 30px; background: none;">
    <md-button class="md-fab" aria-label="Filter map" ng-click="showPrompt($event)">
        <i class="fa fa-home"></i>
    </md-button>
</md-content>



<md-content style="background: none;" class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-sm="33" layout="column">
        <md-card>
            <img src="/images/l4.jpg" class="md-card-image">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">House 1</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>
                    This lovely ground floor studio apartment located in the much sought after Welsh Harp Village, ideally suited to the discerning
                    invester. Features include electric heating, laminate flooring, fitted kitchen, fitted wardrobe, double
                    glazed bay window,and communal gardens.

            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button>More details</md-button>
                <md-button>Save</md-button>
            </md-card-actions>
        </md-card>
        <md-card>
            <img src="/images/l2.jpg" class="md-card-image">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">House 4</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>
                    Spectacular six Bedroom penthouse with uninterrupted views over Hyde Park. Over 10,000 square feet of immaculate interior
                    designed accommodation and private terraces allowing superb entertaining space.
                </p>
            </md-card-content>
            <md-card-actions layout="column" layout-align="start">
                <md-button>More details</md-button>
                <md-button>Save</md-button>
            </md-card-actions>
        </md-card>
    </div>
    <div flex-xs flex-gt-sm="33" layout="column">
        <md-card>
            <img src="/images/l1.jpg" class="md-card-image">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">House 2</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>
                    Located on one of London's finest residential addresses, this detached ten bedroom house with lift and garage, has been extensively
                    remodelled and re-designed to the most exacting standards and utilising some of the most luxurious finishes
                    available. Set back from the street, behind its own landscaped front garden, the entrance to the house
                    is approached via steps that lead up and into the gracious entrance hall which in turn leads onto all
                    three of the principal rooms on the raised ground floor.
                </p>
            </md-card-content>
            <md-card-actions layout="column" layout-align="start">
                <md-button>More details</md-button>
                <md-button>Save</md-button>
            </md-card-actions>
        </md-card>
        <md-card>
            <img src="/images/l3.jpg" class="md-card-image">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">House 5</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>
                    The property comprises some 8,833 sq ft as well as an adjacent Mews house of 1,140 sq ft. The property opens to a spectacular
                    entrance hall leading through to the grand staircase which sweeps up through the building, with large
                    windows and skylight which allows an abundance of natural light.
                </p>
            </md-card-content>
            <md-card-actions layout="column" layout-align="start">
                <md-button>More details</md-button>
                <md-button>Save</md-button>
            </md-card-actions>
        </md-card>

        <md-card>
            <md-card-header>
                
            </md-card-header>
            <img src="/images/l4.jpg" class="md-card-image">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">House 7</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>
                    This magnificent Grade I listed home provides stunning views over the Park and has been both carefully restored to the specification
                    of the Crown Estate and English Heritage and beautifully interior designed to provide the ultimate family
                    accommodation.
                </p>
            </md-card-content>
            <md-card-actions layout="column" layout-align="start">
                <md-button>More details</md-button>
                <md-button>Save</md-button>
            </md-card-actions>
        </md-card>

    </div>
    <div flex-xs flex-gt-sm="33" layout="column">
        <md-card>
            <img src="/images/l3.jpg" class="md-card-image">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">House 3</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>
                    The property comprises some 8,833 sq ft as well as an adjacent Mews house of 1,140 sq ft. The property opens to a spectacular
                    entrance hall leading through to the grand staircase which sweeps up through the building, with large
                    windows and skylight which allows an abundance of natural light.
                </p>
            </md-card-content>
            <md-card-actions layout="column" layout-align="start">
                <md-button>More details</md-button>
                <md-button>Save</md-button>
            </md-card-actions>
        </md-card>
        <md-card>
            <img src="/images/l4.jpg" class="md-card-image">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">House 6</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>
                    The property comprises some 8,833 sq ft as well as an adjacent Mews house of 1,140 sq ft. The property opens to a spectacular
                    entrance hall leading through to the grand staircase which sweeps up through the building, with large
                    windows and skylight which allows an abundance of natural light.
                </p>
            </md-card-content>
            <md-card-actions layout="column" layout-align="start">
                <md-button>More details</md-button>
                <md-button>Save</md-button>
            </md-card-actions>
        </md-card>

        <md-card>
            <md-card-header>
                <md-card-header-text>
                </md-card-header-text>
            </md-card-header>
            <img src="/images/l3.jpg" class="md-card-image">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">House 8</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>
                    This is a unique opportunity to acquire two unmodernised houses, in this sought-after location. Queen Anne's Gate is one
                    of the most architecturally striking streets in London with properties dating from the early 1700s.
                </p>
            </md-card-content>
            <md-card-actions layout="column" layout-align="center">
                <md-button>More details</md-button>
                <md-button>Save</md-button>
            </md-card-actions>
        </md-card>

    </div>
</md-content>
<div layout="row" layout-align="space-around">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>